body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
header{
    background-color: skyblue;
    transition: background-color 0.5s ease;
    
}
header:hover{
    background-color: lightcoral;
}
nav{
    display: flex;
    justify-content: space-between;
    padding-left: 136px;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 42px;
    align-items: center;
    padding-right: 130px;
}
#heading{
    font-size:50px;
    color: white;
    font-weight: 700;
    margin-top: 207px;
    margin-bottom: 240px;
    
}
#banner-player{
    
    width: 556.01px;
    height: 438px;
    margin-left: 200px;
    margin-right: 140px;
    margin-bottom: 86px;
    margin-top: 50px;
}
#banner-player:hover{
    transform: matrix(-1, 0, 0, 1, 0, 0);
    transition: 5s;
}
#banner{
    display: flex;
    margin-left: 156px; 
      
}
nav div a{
    text-decoration: none;
    padding-left: 20px;
    color: white;
    font-size: 16px;
    font-weight: 400;
}
/* link button */
.link{
    background-color: rgb(110, 87, 243);
    border-style:  1px solid ;
    height: 30px;
    width: 120px;
    padding: 5px;
    display: flex;
    align-items: center;
    color: white;
    font-size: 16px;
}
#log{
    padding-left: 10px;
}
.link:hover{
    background-image: linear-gradient(rgb(45, 172, 172),rgb(120, 212, 77));
}
.fas{
    padding-left: 10px;
}
.link a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 400;
}
/* main part start*/

.player img{
    width: 100%;
    height: 100%;
}
 .player{
    background-color: white;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
   
     
 }   
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
    text-align: justify;
    justify-content: center;
    align-items: center;
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    
}
.main-part{
    margin-right: 210px;
    margin-left: 180px;
    padding-top: 70px;
}
/* match history */
#match-history{
    display: flex;
    width: 100%;
}
#match{
    color: #0A0826;
    padding-top: 224px;
    padding-left: 182px;
}
#match-player{
   width: 100%;
   padding-left: 69px;
   padding-top: 165px;
   padding-right: 156px;
   width: 567px;
    height: 427px;
}
.end{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 158px 480px 63px 475px;
    
}
/* Vedios */
#vedios{
    padding-left: 20px;
    padding-top: 40px;
    font-size: 40px;
    color:rgb(60, 0, 139);
}
.vedio{
    padding-left: 30px;
}
.play{
    padding: 10px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.news{
    display: flex;
    font-size: 30px;
    font-weight: bold;
    padding: 5px;
    gap: 10px;
}
.news a{
    text-decoration: none;
    color: #0A0826;
    
}
.newses{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 10px;
    grid-row-gap: 30px;
}

footer img{
    width: 70%;
    padding-left: 50px;
}
.fab{
    width: 2em;
}


/* added media quarey */

@media (max-width:688px) {
    header{
        width: 100%;
        background-color: #2D25A0;
    }
    header:hover{
        background-color:darkviolet;
    }
    nav{
        display:none;
    }
    #heading{
        margin-top: 50px;
        margin-bottom: 20px;
        text-align: center;
        font-size: 30px;
    }
    .link{
        width: 40%;
        padding: 10px 10px;
        margin: 10px auto;
    }
        #banner{
        width: 100%;
        flex-direction: column;
        margin-left: 0;   
    }
    #banner-player{
        margin: 0;
        width: 100%;
        height: 80%;
    }
    #banner-player:hover{
        transform: matrix(-1, 0, 0, 1, 0, 0);
        transition: 5s;
    }
    .players{
        grid-template-columns: repeat(1,1fr);
        width: 100%;  
    }
    .main-part{
        margin: 0;
        padding-top:30px ;
    }
    #match-history{
        flex-direction: column;
        width: 100%;
        padding: 20px 0;
    }
    #match{
        padding-left: 0;
        padding-top: 0;
        text-align: justify;
        margin-top: 20px;
    }
    #match-player{
        padding: 0;
        width: 100%;
        height: 80%;
        margin: 20px auto;
    }
    .vedio{
        width: 50%;
       padding: 0;
    }
    .vedio iframe{
        height: 180px;
        width: 315px;
    }
    #vedios{
        width: 100%;
        padding-left: 5px;
    }
    .newses{
        grid-template-columns: repeat(1,1fr);
        width: 100%;
        padding: 0;
    }
    .news{
        flex-direction: column;
        padding-top: 15px;
    }
    .end{
        width: 100%;
        padding: 0;
        align-items: center;
        margin-top: 20px;
    }
    .end img{
        padding-left: 40px;
    }
}